@import "compass/utilities/general/clearfix";

body {
    font-family: Arial, sans-serif;
}

h3, p { margin: 0 0 1em;}
a { text-decoration: none; }

.tab-items {
    ul, li { margin: 0; padding: 0; list-style-type: none; }
}

.tabs { margin: 0 0 2em;}

@mixin tabs {
    .tab-label { display: none; }
    .tabbed-content {
        display: none;        
        &.active { display: block; }
        h3 { display: none; }
    }
    .tab-items ul {
        @include pie-clearfix;
        li { 
            float: left; 
            margin: 0 1px 0 0;
        }
        li.active a {
            background: #ccc;
        }
        a {
            display: block;
            padding: .2em .5em;
            background: #eee;
        }
    }
}

@mixin accordian {
    .tab-items { display: none; }
    .tabbed-content {
        h3 {
            background: #eee;
            padding: .3em;
            cursor: pointer;
            margin: 0 0 1px;
        }
        .content-container { overflow: hidden; }

        .content {
            margin-top: -100%;
            -webkit-transition: margin 0.2s ease-out;
        }

        &.active .content {
            margin-top: 0;
        }
        &.header-inactive .content {
            margin-top: -100%;
        }
    }

}

@mixin dropdown {
    .tab-items {
        position: relative;
        ul { 
            top: 2em;
            left: 0;
            width: 100%;
            position: absolute;
            background: rgba(255,255,255,.9);
            display: none;
            li a {
                display: block;
                padding: .3em;
                color: #000;
                font-weight: bold;
                &:hover {
                    background: #999;
                    color: #fff;
                }
            }
        }
        .tab-label {
            display: block;
            background: #666;
            color: #fff;
            padding: .3em .5em;
        }
    }
    &.active ul { display: block; }
    .tabbed-content {
        display: none;
        &.active { display: block; }
        h3 { display: none; }
    }    
}

@media screen and (max-width: 30em) {
    .beer {
        @include dropdown
    }
}
@media screen and (min-width: 30em) and (max-width: 50em) {
    .beer {
        @include accordian;
    }
}
@media screen and (min-width: 50em) {
    .beer {
        @include tabs;
    }
}

.food { @include tabs; }
.clothes { @include accordian; }

.logo{
    display: inline-block;
    padding: 1.6em 0;
    font-size: 1.4em;
    a {
        border-width: 1.3em 0;
        border-style: solid;
        border-color:#666;
        text-decoration: none;
        padding: 0 0 .2em 0;
        position: relative;
        border-radius: .4em;
        font-weight: bold;

        &:before,
        &:after {
            content: ' ';
            display: block;
            position: absolute;
        }
        &:before {
            top: -2.4em;
            left: .2em;
            width: 2.6em;
            height: 1em;
            background: #666;
            border-radius: .4em .4em 0 0;
        }
        &:after {
            top: -2.3em;
            left: 2.9em;
            height: .9em;
            width: 2.3em;
            background: #999;
            border-radius: 0 .4em 0 0;
        }
    }

    a, span { display: block; }
    span {
        padding: .1em 2em;
    }
    .a { 
        color: #666; 
        position: relative;
        :before {
            content: ' ';
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
            border-style: solid;
            border-color: #fff transparent;
            border-width: .6em .6em 0;
            position: absolute;
            top: -1em;
            right: .5em;
        }
    }
    .b { 
        background: #666; 
        color: #fff; 
    }
}
